extends layout

block content
  link(rel='stylesheet', href='/stylesheets/create.css')
  .container
    .small-container
      h2 Questions
      a.btn.btn-primary(href = "/questions/create") Create New Question
      br
        
  
    each val, key in questions
      .category-container
        .category-title #{key}
        - console.log(key)
        input.hideshow(type='button', value='hide/show', onclick='hideShow('+key.toString()+')')
        div(id=key class="question-category-container")
          - for (var i=0; i<val.length; i++)
              .question-container
                a(href="/questions/"+val[i]['_id']) 
                  p Question:
                  .indent #{val[i]['question']}
                  p Answer:
                  .indent #{val[i]['answer']}
                  p Category:
                  .indent #{val[i]['category']}
  script.
    function hideShow(x) {
      if (x.style.display == 'none') {
        x.style.display = 'flex';
      } else {
        x.style.display = 'none';
      }
    }
